extends ../../layouts/admin

append breadcrumbs
  li
    a(href="/admin/comments") comment administration
    span.divider /
  li.active= title

block body
  h3.text-warning Are you sure you want to delete this comment?
  form(action='/admin/comments/#{comment.comment_id}',method='post')
    .row: .span8
      table.table.table-striped.table-hover
        tr
          th Body
          td!= comment.comment_body
        tr
          th Post
          td 
            a(href="/posts/#{comment.post_slug}#comment#{comment.comment_id}")
              = comment.post_title
        tr
          th User
          td #{comment.user_displayName}
        tr
          th Flagged
          td= (comment.comment_flagged) ? 'True' : 'False'

    input(type='hidden',name='_csrf',value=token)
    input(type='hidden',name='_method',value='delete')

    .form-actions
      .btn-group
        button.btn.btn-danger
          i.icon-remove.icon-white
          |&nbsp;Delete Comment
        a.btn(href='/admin/comments') Cancel