extends ../../layouts/admin

append breadcrumbs
  li.active= title

block body
  table.table.table-hover.table-striped
    thead
      tr
        th Body
        th Post
        th User
        th Date Posted
        th Is Flagged?
        th Actions
    tbody
    if (comments.length)
      each comment in comments
        tr
          td: a(href='/comments/#{comment.comment_id}/') 
            != truncateAndStripTags(comment.comment_body, 20)
          td= comment.post_title
          td= comment.user_displayName
          td= comment.comment_created
          td= (comment.comment_flagged) ? 'True' : 'False'
          td
            a(href='/admin/comments/#{comment.comment_id}/unflag', class='btn')
              i.icon-flag
            | 
            a(href='/admin/comments/#{comment.comment_id}/delete', 
                data-method='delete', class='btn btn-danger')
              i.icon-remove.icon-white
    else
      tr: td(colspan=3) No Comments Found.