form(action='/comments', method='post')
  .accordion#accordion
    .accordion-group
      .accordion-heading
        a.accordion-toggle(data-toggle="collapse", data-parent="#accordion",
            href="#collapseOne") Leave a Comment 
          i.icon-chevron-down.pull-right

      #collapseOne.accordion-body.collapse
        .accordion-inner
          .control-group
            label.control-label(for="displayName") Display Name
            .controls
              input.span4(disabled, value="#{user.user_displayName}")
              span.help-block
                | You can change your Display Name at any time in your 
                a(href="/account", title="my account") account settings
                |.
          .control-group
            label.control-label(for="body") Comment Body
            .controls
              textarea.span8(name="body", rows="4")
              span.help-block Comments use 
                a(href='http://daringfireball.net/projects/markdown/',
                    title='Markdown Project Home')
                    | Markdown-flavored
                |  formatting.

          input(type="hidden", name="user_id", value="#{user.user_id}")
          input(type="hidden", name="post_id", value="#{post.post_id}")
          input(type="hidden", name="post_slug", value="#{post.post_slug}")
          input(type='hidden', name='_csrf', value=token)
          input(type='hidden', name='_method', value="post")

          .form-actions
            button.btn.btn-primary
              i.icon-ok.icon-white
              |  Post Comment