extends ../../layouts/admin

append breadcrumbs
  li.active= title

block body
  p.pull-right: a.btn.btn-primary(href='/admin/posts/new')
    i.fa.fa-plus
    |  Create Post
  table.table.table-hover.table-striped
    thead
      tr
        th Title
        th Author
        th Created
        th Updated
        th Actions
    tbody
    if (results.length)
      each result in results
        tr
          td
            a(href='/admin/posts/#{result.post.id}/edit') #{result.post.title}
          td
            a(href='/users/#{result.user.slug}/') #{result.user.displayName}
          td= DateHelper.getHumanDate(result.post.created)
          td= DateHelper.getHumanDate(result.post.updated)
          td
            a(href='/admin/posts/#{result.post.id}/edit',
                class='btn btn-default', role='button')
              i.fa.fa-pencil
            | 
            a(href='/admin/posts/#{result.post.id}/delete',
                class='btn btn-danger', role='button')
              i.fa.fa-times
    else
      tr: td(colspan=5) No Posts Found.
