extends layout
block body

  h2 Administration Panel

  .row
    each section in sections
      .span4
        h2 #{section.name}
        h4 Create and manage #{section.name}.
        ul.nav.nav-list
          li.nav-header Actions
          each action in section.actions
            li
              a(href='#{action.path}',title='#{action.title}') #{action.title}