extends ../layouts/admin

block breadcrumbs

block body
  .row: .span12
      p.lead Choose from one of the Administration Portals
        | below:

  .row
    each section in sections
      .span4.admin-panel
        h2 #{section.name}
        h4 Manage #{section.name}.
        ul.nav.nav-list
          li.nav-header Actions
          each action in section.actions
            li
              a(href='#{action.path}',title='#{action.title}') #{action.title}