extends ../layouts/main

block body
  .row: .span8
    .tabbable
      ul.nav.nav-tabs
        li.active: a(href="#profile", data-toggle="tab") Profile
          if (comments)
            li: a(href="#comments", data-toggle="tab") Comments

      .tab-content
        .tab-pane.active#profile
          h3 #{siteUser.user_displayName}'s Profile
          table.table.table-striped.table-hover
            tr
              th Profile Photo
              td: ul.thumbnails
                li.span2: div.thumbnail
                  img(src="#{siteUser.gravatar}", alt='#{siteUser.user_displayName}')
            tr
              th Member Since
              td #{siteUser.user_created}
            tr
              th Email
              td: a(href='mailto:#{siteUser.user_email}') #{siteUser.user_email}
        if (comments)
          .tab-pane#comments
            h3 #{siteUser.user_displayName}'s Comments
            each comment in comments
              .comment-block
                p On 
                  a(href="/posts/#{comment.post_slug}#comment#{comment.comment_id}",
                      title="comment.post_title")
                    | #{comment.post_title}:
                blockquote!= comment.comment_body
            else
              p.text-info This user has not posted any comments yet.

block sidebar
  if user
    .row: .span4: .well
      ul.nav.nav-list
        li.nav-header Actions
        li: a(href="/logout", title="logout") Logout
        li.divider
        li: a Update Account
        li: a Delete Account
  else
    include ../partials/side-nav-links