extends ../layout
block body

  h2 Deleting Post
    small
      a.pull-right(href='/admin') Admin Home

  .alert.alert-danger Are you sure you want to delete this post?
  form(action='/admin/posts/#{post.post_id}',method='post')
    article
      table.table.table-hover
        tr
          th Title
          td #{post.post_title}
        tr
          th Author
          td #{post.user_displayName}

      h4 Description
      .well!= post.post_description
      h4 Body
      .well!= post.post_body

    input(type='hidden',name='_csrf',value=token)
    input(type='hidden',name='_method',value='delete')

    .form-actions
      button.btn.btn-danger
        i.icon-remove.icon-white
        |  Delete Post
      |  or
      a.btn(href='/admin/posts') Cancel