extends ../layout
block body

  h2 Editing Post - 
    em #{post.post_title} 

  <!--TODO: REMEMBER THAT EXPRESS ROUTES REQUIRES "PUT" VERB! IN OVERRIDE-->
  form(action='/admin/posts/#{post.post_id}',method='post')
    .control-group
      label.control-label(for='title') Title
      .controls
        input.span12(type='text',name='title',value='#{post.post_title}',
            placeholder='Man Lands on the Moon!')

    .control-group
      label.control-label(for='author') Author
      .controls
        input.span12(type='text',value='#{post.user_displayName}',
            name='author',disabled)

    .control-group
      label.control-label(for='description') Description
      .controls
        textarea.span12(rows=2,name='description',
            placeholder='Add a Description here, for Lists and RSS')
          =post.post_description

    .control-group
      label.control-label(for='body') Body Content
      .controls
        textarea.span12(rows=5,name='body',
            placeholder='Neil Armstrong, we hardly knew ye...')
          =post.post_body

    input(type='hidden',name='user_id',value=post.post_user_id)
    input(type='hidden',name='_csrf',value=token)
    input(type='hidden',name='_method',value='put')

    .form-actions
      button.btn.btn-primary
        i.icon-ok.icon-white
        |  Update Post 
      |  or         
      a.btn(href='/admin/posts') Cancel