extends ../../layouts/admin

append breadcrumbs
  li.active= title

block body
  p.pull-right: a.btn.btn-primary(href='/admin/posts/new')
    i.icon-plus.icon-white
    |  Create Post
  table.table.table-hover.table-striped
    thead
      tr
        th Title
        th Author
        th Comment Count
        th Created
        th Actions
    tbody
    if (posts.length)
      each post in posts
        tr
          td: a(href='/admin/posts/#{post.post_id}/edit') #{post.post_title}
          td: a(href='/users/#{post.user_id}/') #{post.user_displayName}
          td #{post._comments}
          td= post.post_updated.toUTCString("en-US", {weekday: "long", month: "long", day: "numeric", year: "numeric", hour12: true})
          td
            a(href='/admin/posts/#{post.post_id}/edit', class='btn')
              i.icon-edit
            | 
            a(href='/admin/posts/#{post.post_id}/delete', data-method='delete',
                class='btn btn-danger')
              i.icon-remove.icon-white
    else
      tr: td(colspan=5) No Posts Found.
