extends ../layout
block body

  h2 Manage Posts
    .btn-group.pull-right
      a.btn.btn-primary(href="/admin/posts/new")
        i.icon-plus.icon-white
        |&nbsp;New Post
      a.btn(href='/admin') Admin Home

  table.table.table-hover.table-striped
    thead
      tr
        th Title
        th Author
        th Comment Count
        th Created
        th Actions
    tbody
    if (posts.length)
      each post in posts
        tr
          td
            a(href='/admin/posts/#{post.post_id}/edit') #{post.post_title}
          td
            a(href='/users/#{post.user_id}/') #{post.user_displayName}
          td
            span.badge.badge-info 8
          td= post.post_updated.toUTCString("en-US", {weekday: "long", month: "long", day: "numeric", year: "numeric", hour12: true})
          td
            a(href='/admin/posts/#{post.post_id}/edit') Edit |&nbsp;
            a(href='/admin/posts/#{post.post_id}/delete',
                data-method='delete') Delete
    else
      tr
        td(colspan=5) No Posts Found.
