if (posts.length)
    each post in posts
      .post-list-entry
        h3.headline
          a(href='/posts/#{post.post_slug}')= post.post_title
        h5.byline by 
          a(href='/users/#{post.user_slug}')= post.user_displayName
          span.pull-right: small #{post.post_created.toUTCString()}
        .description!= post.post_description
        ul.flairline.inline
          li: i.icon-white.icon-comment 
            | #{post._comments}
          li: i.icon-white.icon-facebook 
            | 20
          li: i.icon-white.icon-twitter 
            | 22
          li: i.icon-white.icon-google-plus 
            | 3