extends ../layouts/main

block body
  h2= post.post_title
  .row: .span8
    h5 by 
      a(href='/users/#{post.user_slug}')= post.user_displayName
      span.pull-right
        small #{post.post_created.toUTCString()}
    div!= post.post_body

  .row#post-share: .span8
    ul.inline
      li: a: i.icon-home
      li: a: i.icon-print
      li: a: i.icon-envelope
      li
        .g-plusone(data-size='medium', width=50)
          a(href="https://twitter.com/share",
              class="twitter-share-button") Tweet

  .row#comment-form: .span8
    if (user)
      include ../comments/_form
    else
      p
        | You must be logged in to leave a comment.
        | Click 
        a(href='/auth/google') here
        |  to login.

  .row#comments: .span8
    if (comments.length)
      h3 Comments
      each comment in comments
        div.post-comment(id="comment#{comment.comment_id}")
          p
            a.text-info(href="/users/#{comment.user_slug}")
              = comment.user_displayName
            |  said on #{comment.comment_created.toUTCString()}:
          blockquote.clearfix!= comment.comment_body
          p.comment-status
            if (comment.comment_flagged)
              i.icon-flag
            else
              a.flag(href="/comments/#{comment.comment_id}/flag",
                  data-id="comment.id") Flag as inappropriate
    else
      h3 There are no Comments to display.

script.
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();

script.
  !function(d,s,id){
    var js,
      fjs=d.getElementsByTagName(s)[0],
      p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){
      js=d.createElement(s);
      js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js,fjs);
    }
  }(document, 'script', 'twitter-wjs');