extends ../../layouts/admin

append breadcrumbs
  li
    a(href="/admin/users") user administration
    span.divider /
  li.active= title

block body
  h3.text-warning Are you sure you want to delete this user?
  form(action='/admin/users/#{user.user_id}',method='post')
    h2 #{user.user_displayName}
    .row: .span8
      table.table.table-striped.table-hover
        tr
          th Profile Photo
          td: ul.thumbnails
            li.span2
              div.thumbnail
                img(src="#{user.gravatar}", alt='#{user.user_displayName}')
        tr
          th Member Since
          td #{user.user_created}
        tr
          th Email
          td: a(href='mailto:#{user.user_email}') #{user.user_email}

    input(type='hidden',name='_csrf',value=token)
    input(type='hidden',name='_method',value='delete')

    .form-actions
      .btn-group
        button.btn.btn-danger
          i.icon-remove.icon-white
          |&nbsp;Delete User
        a.btn(href='/admin/users') Cancel