extends ../layouts/main

block body
  if (results.length)
    each result in results
      .post-list-entry
        h3.headline
          a(href='/posts/#{result.post.slug}', title=result.post.title)
            | #{result.post.title}
        h5.byline
          small #{DateHelper.getHumanDate(result.post.created)}
        .description!= result.post.description
        ul.list-inline.flairline
          li: a: i.fa.fa-envelope
          li: a: i.fa.fa-facebook
          li: a: i.fa.fa-twitter
          li: a: i.fa.fa-google-plus